:root{
    --AzulOscuro: #1F4690;
    --Azul: #3A5BA0;
    --AmarilloQ: #FFA500;
    --Piel: #FFE5B4;
}

header{
    background-color: var(--AmarilloQ);
    text-align: center;
    padding-top:0;
    padding-bottom: 1rem;
    margin-top: 0;
}

body {
    background-image: url("/img/FondoApp1.jpg");
    background-color:var(--AzulOscuro);
    background-repeat: no-repeat;
    background-size: cover;
 
}

.tituloPagina{
    text-align: center;
    color: var(--AzulOscuro);
    align-items: center;
}


.CuadroTitulo{
    border-radius: 20px;
}

.columnas{
    padding: 1rem;
    text-align: center;
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px

}

.CuadroTareas{
    background-color:var(--Piel);
    /*width: 30%;*/
    height: 30rem;
    border: var(--AmarilloQ) 4px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1{
    color: var(--Azul);
}


